<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments :: head(title='Lista de dispositivos')">
			
	</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Lista de Dispositivos</h1>
        <table class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Tipo</th>
                    <th>Status</th>
                    <th>Filial</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="dispositivo : ${dispositivos}">
                    <td th:text="${dispositivo.idDispositivo}"></td>
                    <td th:text="${dispositivo.nome}"></td>
                    <td th:text="${dispositivo.tipo}"></td>
                    <td th:text="${dispositivo.status}"></td>
                    <td th:text="${dispositivo.filialId}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
