<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Taligado</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mb-3 d-flex justify-content-between align-items-center">
    <div th:fragment="mudar_idioma">
		<a href="?lang=pt" class="btn btn-outline-success btn-sm">Pt</a>
		<a href="?lang=en" class="btn btn-outline-success btn-sm">En</a>
    </div>

    <div th:fragment="botao-logout">
        <form th:action="@{/logout}" method="post">
            <button class="btn btn-secondary btn-sm" type="submit" th:text="#{botao.deslogar}">
                Sair
            </button>
        </form>
    </div>
</div>

</body>
</html>
