<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head(title='Página Inicial')"></head>

<body class="bg-dark text-light"
	style="min-height: 100vh; display: flex; flex-direction: column; align-items: center; justify-content: center;">
	<div th:replace="fragments :: mudar_idioma"></div>

	<!-- Header com Bem-Vindo -->
	<header class="container text-center py-5" style="background-color: #2c2c2c; border-radius: 10px;">
		<h1 class="mb-3" style="color: #8fbf49; font-size: 2.5rem;">Bem-vindo ao TáLigado!</h1>
		<p class="lead">Escolha uma das opções abaixo para navegar pelo sistema.</p>
	</header>

	<!-- Botões de Navegação -->
	<div class="container text-center mt-5">
		<div class="row gy-4 justify-content-center">
			<!-- Botão para Histórico -->
			<div class="col-12 col-md-5">
				<a href="/historico" class="btn btn-success w-100 py-3 shadow"
					style="background-color: #8fbf49; border: none; font-size: 1.2rem;">
					Histórico
				</a>
			</div>

			<!-- Botão para Listagem de Filial -->
			<div class="col-12 col-md-5">
				<a href="/filiais" class="btn btn-success w-100 py-3 shadow"
					style="background-color: #8fbf49; border: none; font-size: 1.2rem;">
					Listagem de Filial
				</a>
			</div>

			<!-- Botão para Dispositivos -->
			<div class="col-12 col-md-5">
				<a href="/dispositivos" class="btn btn-success w-100 py-3 shadow"
					style="background-color: #8fbf49; border: none; font-size: 1.2rem;">
					Dispositivos
				</a>
			</div>

			<!-- Botão para Regulação e Dispositivo -->
			<div class="col-12 col-md-5">
				<a href="/regulacoes" class="btn btn-success w-100 py-3 shadow"
					style="background-color: #8fbf49; border: none; font-size: 1.2rem;">
					Regulação
				</a>
			</div>

			<!-- Botão para Detalhes da Empresa -->
			<div class="col-12 col-md-5">
				<a href="/alertas" class="btn btn-success w-100 py-3 shadow"
					style="background-color: #8fbf49; border: none; font-size: 1.2rem;">
					Alertas
				</a>
			</div>


			<!-- Botão para Dashboard -->
			<div class="col-12 col-md-5">
				<a href="/dashboard" class="btn btn-success w-100 py-3 shadow"
					style="background-color: #8fbf49; border: none; font-size: 1.2rem;">
					Dashboard
				</a>
			</div>


			<!-- Botão de Logout -->
			<form th:action="@{/logout}" method="post" class="mt-5">
				<button class="btn btn-danger px-5 py-2 shadow" type="submit" style="font-size: 1.2rem;">Logout</button>
			</form>
		</div>

		<!-- Footer -->
		<footer class="mt-5 text-center text-muted" style="font-size: 0.9rem;">
			<p>© 2024 TáLigado. Todos os direitos reservados.</p>
		</footer>

</body>

</html>