<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head(title='Resposta do Bot Assistant')"></head>

<body class="bg-dark text-light d-flex align-items-center justify-content-center" style="min-height: 100vh;">

	<div class="container bg-secondary text-light p-4 rounded shadow-lg">
		<h1 class="text-center mb-4" style="color: #8fbf49;">
			<span >Resposta do Bot</span>
		</h1>
		<div class="card p-4 shadow-lg border-0">
			<div class="mb-4">
				<h5 class="text-center text-light" th:utext="${resposta}">
					<!-- Resposta dinâmica do bot -->
				</h5>
			</div>
			<div class="text-center mt-4 d-flex justify-content-center gap-3">
				<a href="/form_bot_assistant" class="btn btn-success btn-lg shadow px-5" 
				   style="background-color: #8fbf49; border: none;">
					Nova Pergunta
				</a>
				<a href="/historico" class="btn btn-outline-light btn-lg shadow px-5" >
					Voltar
				</a>
			</div>
		</div>
	</div>

</body>
</html>
